body {
    margin: 0;
}
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
h1 {
    margin: 0;
}
.main-div {
    background-image: url(./static/picture/website\ background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.main-str-h1 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 24px;
    padding: 15px 0px 15px 0px;
}
.main-one-block-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main-block-div {
    width: 80%;
    height: 90%;
    min-height: 600px;
    background-color: #ffffff7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
}
.main-res-container-div::-webkit-scrollbar-thumb {
    background-color: #047c4c;
    border-radius: 7px;
}
.main-res-container-div::-webkit-scrollbar {
    width: 5px;
}
.main-container-div {
    width: 300px;
    height: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #047c4c;
    border-radius: 10px;
    margin-top: 30px;
}

.block-input {
    width: 270px;
}
.block-input::-webkit-inner-spin-button,
.block-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.block-select-btn {
    width: 190px;
}
.main-res-container-div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    gap: 10px;
}
.green-div {
    width: 290px;
    height: 180px;
    min-width: 220px;
    background-color: #09cd4e;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}
.red-div {
    width: 290px;
    height: 180px;
    min-width: 220px;
    background-color: #b41b04;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}
.yello-div {
    width: 290px;
    height: 180px;
    min-width: 220px;
    background-color: #eddd09;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}
.div-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 220px;
}
.div-img {
   display: flex;
   flex-direction: column ;
   gap: 120px;
   margin-left: 40px;
}
.redact-div{
    background-image: url(./static/picture/icons8-редактировать.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.delit-div{
    background-image: url(./static/picture/icons8-удалить.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.container-img-redact{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 208px;
}
.container-text-redact{
    display: flex;
    flex-direction: column ;
    gap: 20px;
    margin-top: 20px;
}
.btn-redact{
    background-image: url(./static/picture/icons8-ок\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.btn-no-redact{
    background-image: url(./static/picture/icons8-отмена.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.container-npc-text-redact{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.redact-block-input{
    width: 160px;
}
.redact-block-input::-webkit-inner-spin-button,
.redact-block-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}