body {
    margin: 0;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1,
h3 {
    margin: 0;
}

.main-div {
    background-image: url(./static/picture/website\ background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

.main-str-h1 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 24px;
    margin: 15px 0px 15px 0px;
}

.main-one-block-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-block-div {
    width: 80%;
    height: 600px;
    background-color: #ffffff7d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    overflow: auto;
}

.main-container-div {
    width: 220px;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #e7e7b8;
    border-radius: 10px;
    margin-top: 30px;
}

.block-input {
    width: 180px;
}

.new-div {
    width: 220px;
    height: 120px;
    min-width: 220px;
    background-color: #09cd4e;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}